  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{order.id}}
      </mat-panel-title>
      <mat-panel-description>
        Доставка: адрес: {{order.details.address}} день: {{order.details.timeToDeliver}}
        Стоимость к оплате: {{totalCost}}
        <button>Отменить заказ</button>
        <button>Изменить детали заказа</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let item of (items$ | async)">
      <p>{{item.name}}</p>
      <p>{{item.price}}</p>
      <p>{{getItemAmmount(item.id)}}</p>
    </div>
  </mat-expansion-panel>

