@import "../../../../variables";

.title{
  padding: $std-padding;
  font-size: 32px;
  font-weight: bold;
  color: $black-color;
}

.no-goods {
  padding: $std-padding;
  font-size: 20px;
  font-weight: bold;
  color: $purple-color;
}
