<owl-carousel-o [options]="firstOptions">
  <ng-container *ngFor="let slide of (firstSlides$ | async)">
    <ng-template carouselSlide>
      <div class="slider-one" routerLink="/details" [queryParams]="{'id': slide.id}">
        <img class="slider-one-img" [src]="slide.imageUrls[0] || 'assets/images/no-photo.png'" alt="photo">
        <div class="slider-one-text-container">
          <p class="slider-one-text">{{slide.name}}</p>
          <p class="slider-one-text-percent">%</p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
<p class="title">Популярные товары</p>
<owl-carousel-o [options]="secondOptions">
  <ng-container *ngFor="let slide of (secondSlides$ | async)">
    <ng-template carouselSlide>
      <div class="slider-two-container">
        <div class="slider-two-item" *ngFor="let item of slide" routerLink="/details" [queryParams]="{'id': item.id}">
          <div class="slider-two-image-container">
            <img class="slider-two-image" [src]="item.imageUrls[0] || 'assets/images/no-photo.png'" alt="photo">
          </div>
          <div class="slider-two-text">
            <p class="slider-two-item-price">{{item.price | number:"1.2"}} BYN</p>
            <p>{{item.name}}</p>
          </div>
          <mat-icon class="slider-icon"> local_fire_department </mat-icon>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
