<h2>Оформление заказа</h2>
<app-cart-card (priceEmmiter)="countTotalPrice($event)"
*ngFor="let item of (goods$ | async)"
[item]="item">
</app-cart-card>
<p>{{totalPrice}}</p>
<h3>Детали заказа</h3>
<mat-form-field appearance="fill">
  <mat-label>ФИО</mat-label>
  <input
  matInput
  [formControl]="nameInput"
  [errorStateMatcher]="matcher"
  required
  [(ngModel)]="name">
  <mat-error *ngIf="nameInput.hasError('minlength')">
    Слишком короткое имя
  </mat-error>
  <mat-error *ngIf="nameInput.hasError('maxlength')">
    Слишком длинное имя
  </mat-error>
  <mat-error *ngIf="nameInput.hasError('required')">
    Поле не может быть пустым
  </mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Адрес доставки</mat-label>
  <input
  matInput
  [(ngModel)]="adress"
  [formControl]="adressInput"
  [errorStateMatcher]="matcher"
  required>
  <mat-error *ngIf="adressInput.hasError('minlength')">
    Слишком короткий адрес
  </mat-error>
  <mat-error *ngIf="adressInput.hasError('maxlength')">
    Слишком длинный адрес
  </mat-error>
  <mat-error *ngIf="adressInput.hasError('required')">
    Поле не может быть пустым
  </mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Номер телефона</mat-label>
  <input
  type="tel"
  matInput
  [(ngModel)]="telNumber"
  [formControl]="telInput"
  [errorStateMatcher]="matcher"
  required>
  <mat-error *ngIf="telInput.hasError('pattern')">
    Неверный формат ввода
  </mat-error>
  <mat-error *ngIf="telInput.hasError('required')">
    Поле не может быть пустым
  </mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Дата доставки</mat-label>
  <input type="datetime-local" matInput required>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Комментарии к заказу</mat-label>
  <textarea
  matInput
  [(ngModel)]="comments"
  [formControl]="commentInput"
  [errorStateMatcher]="matcher">
</textarea>
<mat-error *ngIf="commentInput.hasError('maxlength')">
  Слишком длинный комментарий
</mat-error>
</mat-form-field>
<button>Подтвердить заказ</button>
