<h3>{{(item | async)?.name}}</h3>
<div>
  <owl-carousel-o class="slider-container" [options]="owlOptions">
    <ng-container *ngFor="let slide of (item | async)?.imageUrls">
      <ng-template carouselSlide>
        <div class="slider-image-container">
          <img class="slider-image" [src]="slide" alt="photo">
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<div>
  <button
  mat-raised-button
  color="primary">
  В Корзину
  </button>
  <button
  mat-raised-button
  color="accent">
  В Избранное
  </button>
</div>
<div>
  <h5>Описание</h5>
  <p>{{(item | async)?.description}}</p>
</div>
