@import "../../../../variables";

*{
  font-size: 20px;
  line-height: 32px;
}

.catalog{
  &-container{
    display: flex;
    background-color: $white-color;
  }

  &-cats {
    margin: $std-margin;
    padding: $std-padding;
    width: 30%;
    background-color: $light-yellow-color;
    border-radius: $std-border-radius;
  }

  &-subcats {
    margin: $std-margin;
    padding: $std-padding;
    width: 70%;
  }
  &-cat {
    padding: $std-padding;
    border-radius: $std-border-radius;
    color: $dark-purple-color;

    &:hover{
      color: $yellow-color;
      background-color: $purple-color;
      cursor: pointer;
    }
  }

  &-subcat{
    padding: $min-padding;
    color: $dark-purple-color;

    &:hover{
      background-color: $yellow-color;
      cursor: pointer;
    }
  }
  &-title{
    font-size: 28px;
    line-height: 36px;
    color: $dark-purple-color;
  }
}

.no-dot-list {
  list-style-type: none;
  padding: 0;
}

.two-cols {
  column-count: 2;
  column-rule: 2px solid $purple-color;
}
