<div mat-dialog-content>
  <app-order-details-form
  [orderId]="data.id"
  [name]="data.orderDetails.name"
  [adress]="data.orderDetails.address"
  [telNumber]="data.orderDetails.phone"
  [dateTime]="data.orderDetails.timeToDeliver"
  [comments]="data.orderDetails.comment"
  [isPopup]="true"
  (closeEmmiter)="onEmmitedValue($event)">
  </app-order-details-form>
</div>
<div mat-dialog-actions>
  <p *ngIf="message">{{message}}</p>
  <button mat-button (click)="onNoClick()">Отмена</button>
</div>


