@import '../../../../variables';

.nav-block {
  &_container{
    display: flex;
    justify-content: space-around;
  }
  &_input {
    width: 80%;
    &_container {
      display: flex;
      align-items: center;
      flex-grow: 0.7;
    }
  }
  &_button{
    margin: $std-margin;
    &_container {
      display: flex;
    }
  }
}
.white-button{
  background-color: $white-brg;
}
