
<div class="nav-block_container">
  <a href="#"> LOGO !!!</a>
  <div class="nav-block_input_container">
    <button
    class="nav-block_button"
    mat-raised-button color="accent"
    (click)="toggleCatalog()">
    <mat-icon *ngIf="isCatalogOpen else openCatalog" aria-hidden="false">close</mat-icon>
    <ng-template #openCatalog>
      <mat-icon aria-hidden="false">expand_more</mat-icon>
    </ng-template>
    Каталог
  </button>
    <input class="nav-block_input white-button" matInput placeholder="Search goods">
  </div>
  <div class="nav-block_button_container">
    <button
    class="nav-block_button white-button"
    mat-stroked-button
    color="primary"
    [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="(user$ | async); else login">logout</mat-icon>
      <ng-template #login>
        <mat-icon>login</mat-icon>
      </ng-template>
      Аккаунт
    </button>
    <mat-menu #menu="matMenu">
      <div class="account-enter" mat-menu-item *ngIf="(user$ | async); else nouser">
        <p class="account-item user-name">{{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}</p>
        <button
        class="account-item"
        mat-stroked-button
        color="primary"
        (click)="logOut()">
        Выход
      </button>
      </div>
      <ng-template #nouser>
        <div class="account-enter" mat-menu-item>
          <mat-icon class="account-item account-icon" color="primary">account_circle</mat-icon>
          <button
          class="account-item"
          mat-raised-button
          color="primary"
          (click)="openDialog()">
          Войти
          </button>
        </div>
      </ng-template>
      <button mat-menu-item>Козина {{(user$ | async)?.cart?.length}}</button>
      <button mat-menu-item>Избранное {{(user$ | async)?.favorites?.length || 0}}</button>
      <button mat-menu-item>История заказов</button>
    </mat-menu>
    <button class="nav-block_button" mat-icon-button color="accent">
      <mat-icon>shopping_cart</mat-icon>
      {{(user$ | async)?.cart?.length || 0}}
    </button>
  </div>
</div>
