<div class="chart-card">
  <div>
    <img class="chart-image" [src]="(item$ | async)!.imageUrls[0]" alt="item photo">
    <p>{{(item$ | async)!.name}} router link</p>
  </div>
  <div>
    <p>Description:</p>
    <p>{{(item$ | async)!.description}}</p>
  </div>
  <input
  mat-input
  type="number"
  [(ngModel)]="number"
  min="1"
  [max]="(item$ | async)!.availableAmount"
  (change)="emitTotalPrice()">
  <p>Bring: today</p>
  <div>
    <p>Price:</p>
    <p>{{(item$ | async)!.price | number:"1.2"}}</p>
  </div>
  <button>remove</button>
</div>
