<h1 mat-dialog-title>Вход / Регистрация</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <div class="dialog-part">
      <p class="dialog-title">Войти</p>
      <mat-form-field appearance="fill">
        <mat-label>Ваш логин</mat-label>
        <input matInput [(ngModel)]="login">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ваш пароль</mat-label>
        <input type="password" matInput [(ngModel)]="password">
      </mat-form-field>
    </div>
    <div class="dialog-part">
      <p class="dialog-title">Зарегистрироваться</p>
      <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input matInput [(ngModel)]="firstName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input matInput [(ngModel)]="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput [(ngModel)]="newLogin">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput [(ngModel)]="newPassword">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="dialog-btns">
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-raised-button color="primary" (click)="logIn()">Войти</button>
    <button mat-raised-button color="primary" (click)="register()">Зарегистрироваться</button>
  </div>
</div>

