<div class="footer">
  <div class="footer-contacts">
    <p class="contacts_text">
      <span class="viber-container">
        <mat-icon class="viber-icon" svgIcon='viber'></mat-icon>
      </span>
      Viber
    </p>
    <p class="contacts_text"><span class="A1"> A1 </span> +375 29 302 10 21</p>
    <p class="contacts_text"> <span class="footer-life footer-contacts-icon">:)</span> +375 25 502 10 21</p>
      <p class="contacts_text">
        <mat-icon class="footer-contacts-icon">phone</mat-icon>
        +375 17 302 10 21
      </p>
      <p class="contacts_text">
        <mat-icon class="footer-contacts-icon" svgIcon="telegram"></mat-icon>
        Telegram
      </p>
      <p class="contacts_text">
        <mat-icon class="footer-contacts-icon">mail_outline</mat-icon>
        Почта
      </p>
      <p class="contacts_text">
        <mat-icon class="footer-contacts-icon">phone_in_talk</mat-icon>
        Заказать звонок
      </p>
      <p class="contacts_text">
        <mat-icon class="footer-contacts-icon">chat</mat-icon>
        Написать нам
      </p>
  </div>
  <div class="footer-socials">
    <div class="footer-socials-icons">
      <mat-icon svgIcon="vk"></mat-icon>
      <mat-icon svgIcon="fb"></mat-icon>
      <mat-icon svgIcon="insta"></mat-icon>
      <mat-icon svgIcon="youtube"></mat-icon>
      <mat-icon svgIcon="ok"></mat-icon>
    </div>
  </div>
</div>
